body {}

.card {
  box-shadow: none;
}

.card-content {
  margin-bottom: 5px;
  border: 1px solid rgb(223, 222, 222);
  padding: 13px;
}

.card-content button {
  margin-bottom: 5px;
}


.card h6,
p {
  font-size: 16px;
}


.card-content {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 20px -12px;
}
