<mat-card class="example-card">
    <mat-card-title> Shiba Inu </mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    <mat-card-content>
        <p>This card indeterminates progress bar.</p>
        <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia quidem molestias corrupti! Aperiam enim
            ipsam, quae quos nihil a, sint voluptas accusamus vel vero eius nobis vitae dignissimos molestiae officia!
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>

<br>

<mat-card class="example-card">
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    <mat-card-content>
        <p>This card indeterminates progress bar.</p>
        <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia quidem molestias corrupti! Aperiam enim
            ipsam, quae quos nihil a, sint voluptas accusamus vel vero eius nobis vitae dignissimos molestiae officia!
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>


<mat-card class="example-card">
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    <mat-card-content>
        <p>This card indeterminates progress bar.</p>
        <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia quidem molestias corrupti! Aperiam enim
            ipsam, quae quos nihil a, sint voluptas accusamus vel vero eius nobis vitae dignissimos molestiae officia!
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>

<br>


<br>
<mat-card class="example-card">
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    <mat-card-content>
        <p>This card indeterminates progress bar.</p>
        <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia quidem molestias corrupti! Aperiam enim
            ipsam, quae quos nihil a, sint voluptas accusamus vel vero eius nobis vitae dignissimos molestiae officia!
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>