<section>
    <header class="image-header">
      <img src="/assets/images/bg.png" class="header-background-image" />
  
      <div class="header-description">
        <div class="title">Equip yourself with modern tech skills</div>
        <div class="description">
          Train with the best in the country in the fields of Game Development, Graphics Design, Photography,
          Podcast and more.
        </div>
  
        <div class="button-group">
          <button class="browse-catalog" routerLink="/courses">
            Browse Catalog
          </button>
  
          <!-- <button [style.display]="authService.isAuthenticated() ? 'none' : 'block'" class="enroll"
            routerLink="/auth">Sign Up</button> -->
        </div>
      </div>
    </header>
  </section>
  