<app-header></app-header>
<section class="main-content">
  <div class="container">
    <div class="main-body">
      <div class="sidebar">
        <ul class="category-lists">
          <p>Category</p>
          <app-sidebar
            *ngFor="let category of categories"
            [title]="category.title"
          ></app-sidebar>
          <br />
          <h4>Job Types</h4>
          <app-sidebar
            *ngFor="let type of jobTypes"
            [title]="type.title"
          ></app-sidebar>
        </ul>
      </div>

      <div class="main-content-listing">
        <div class="main-content-listing-cta">
          <h3>Browse remote job listings from all accross the web</h3>
          <p>
            We surf the internet to find remote working opporunities and then
            display them here on one convenient place
          </p>
        </div>

        <h3 class="title">New Remote jobs</h3>
        <app-job-posting
          *ngFor="let job of posts"
          [title]="job.title"
          [jobTitle]="job.jobTitle"
          [hours]="job.hoursAgo"
        >
        </app-job-posting>
      </div>
    </div>
  </div>
</section>

<app-brand-footer></app-brand-footer>

