.main-content {
  margin-top: 3rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  // font-weight: 400;
}


@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  .main-body {
    flex-direction: column;
  }
}
