<app-header></app-header>
<section class="container">
  <div class="main-overview" *ngFor="let job of jobDetails">
    <div class="logo-container">
      <img
        class="logo"
        src="https://s3.remote.io/img/company/628815334705.png"
        alt=""
        srcset=""
      />
    </div>

    <h5>{{ job.name }}</h5>
    <h2>{{ job.position }}</h2>

    <div class="header">
      <p>Tags</p>
      <span>
        <i> </i>
        <p>Engineering</p>
      </span>
      <span>
        <i> </i>
        <p>{{ job.jobStatus }}</p>
      </span>
      <span>
        <i> </i>
        <p>https://dribble.com</p>
      </span>
    </div>

    <div class="post-overview">
      <div class="social-links">
        <ul>
          <li *ngFor="let tag of job.jobTags">
            <a> {{ tag }} </a>
          </li>
        </ul>
      </div>
      <br />
      <p>Posted on january 17th, 2018</p>

      <div class="post-desc">
        <h2>Requirement</h2>
        <p>
          Flexible working hours and the possibility to work remotely. An
          enthusiastic and friendly team in a productive working environment.
          Varied and challenging activities in a constantly growing and
          future-oriented industry. Great coaching and development
          opportunities. We have an annual budget for external training courses
          and conferences. We previously attended GitHub Universe in London and
          Amsterdam. An afternoon each sprint (every 2 weeks) to work on
          something that interests you. Want to learn a new programming
          language?
        </p>

        <p>
          That’s fine by us. It doesn't have to be work-related. It’s there to
          help you expand your skill set and keep the creative juices flowing.
          Always a cold Fritz-Kola in the fridge (if you decide to stop by our
          office). Join us for whole company get-togethers. Our past retreats
          have been in Belgium, Prague & Spain. Our next one is in Portugal.
        </p>
      </div>

      <h2>Experience</h2>
      <h4>Your requirements for the job</h4>
      <ul class="job-lists" *ngFor="let jobdescription of job.jobDescription">
        <li class="job-list">
          {{jobdescription}}
        </li>
      </ul>

      <h2>Skills Required</h2>
      <ul class="job-lists" *ngFor="let skill of job.skills">
        <li class="job-list">{{ skill }}</li>
      </ul>
      <div class="">
        <button class="btn btn-default">Apply for position</button>
      </div>
    </div>
  </div>
</section>
