.container {
  max-width: 71.25rem;
  margin: auto;
  // font-family: 'Outfit', sans-serif;
}

.main-overview {
  min-height: 100vh;
}

.header {
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

h5 {
  font-size: 1.4rem;
  color: rgb(90, 89, 88);
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-weight: 400;
}

p,
li {
  color: rgb(59, 57, 57);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.1rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 0.86);
  text-rendering: optimizeLegibility;
}

.post-overview {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-top: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}


.logo {
  border-radius: 13rem;
  width: 5rem;
}

.post-desc {
  padding: .5rem;
}

.social-links ul {
  margin: 0;
  padding: 0px;
}


.job-list {
  line-height: 24px;
}

.social-links ul li {
  list-style: none;
  border: 1px solid rgb(178, 177, 179);
  display: inline-block;
  padding: 2px 8px;
  border-radius: .8rem;
}

.social-links:hover ul li {
  cursor: pointer;
}

.social-links ul li:not(:first-child) {
  margin-left: .5rem;
}

.social-links ul li a {
  text-decoration: none;
  font-size: 12px;
  color: #777;
}


.btn {
  border: none;
  padding: .8rem 1.2rem;

  color: white;
  margin-top: .5rem;
  border-radius: .8rem;
}

.btn-default {
  background-color: rgb(15, 12, 12);
}



@media screen and (max-width: 500px) {

  .main-overview {
    padding: .3rem;
  }

  p,
  li {
    color: rgb(59, 57, 57);
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
  }

  .social-links ul li {
    margin: 4px;
  }

  .post-overview {
    padding: 1rem;
  }
}
