<!-- <app-navigation></app-navigation>  -->

<section class="container">
  <div class="main-overview">
    <div class="logo-container">
      <img
        class="logo"
        src="https://s3.remote.io/img/company/628815334705.png"
        alt=""
        srcset=""
      />
    </div>

    <h5>Dribble</h5>
    <h2>Full Stack Engineer</h2>

    <div class="header">
      <p>Tags</p>
      <span>
        <i> </i>
        <p>Engineering</p>
      </span>
      <span>
        <i> </i>
        <p>Full-Time</p>
      </span>
      <span>
        <i> </i>
        <p>https://dribble.com</p>
      </span>
    </div>

    <div class="post-overview">
      <div class="post-desc">
        <p>Posted on january 17th, 2018</p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa,
          temporibus id eaque dolorum eius at eum minima praesentium possimus
          nobis aliquam, quidem pariatur asperiores!
        </p>

        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa,
          temporibus id eaque dolorum eius at eum minima praesentium possimus
          nobis aliquam, quidem pariatur asperiores! Culpa voluptas corporis
          consequatur reprehenderit rem? Lorem ipsum dolor sit amet, consectetur
          adipisicing elit. Non impedit eum ratione recusandae autem veniam vel
          vero, ex reiciendis libero cumque. Facilis, similique dolores illum
          magnam dignissimos eum eligendi dicta.
        </p>
      </div>

      <div class="social-links">
        <p>Tell a friend</p>
        <p>Tweet this job</p>
        <p>Post on Linkedin</p>

        <p>Report this post</p>
      </div>
    </div>

    <h3>Requirement</h3>
    <ul>
      <li>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique amet
        alias repellendus
      </li>
      <li>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique
        recusandae odit ad facere dicta
      </li>
      <li>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique
      </li>
      <li>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique
      </li>
      <li>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique
        recusandae odit
      </li>
      <li>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique
      </li>
    </ul>
  </div>
</section>
