.container {
  max-width: 71.25rem;
  margin: auto;
}

.main-overview {
  min-height: 100vh;
  margin-bottom: 3rem;


 
}

.logo {
  border: 2px solid rgb(177, 174, 174);
  border-radius: 1rem;
  width: 5rem;
  margin-top: 1rem;
}

.header {
  border-radius: 1rem;
  display:  flex; 
}

.header-ul{
  display: flex;
  padding: 0;
}

.header-li:not(:first-child){
  margin-left: 1rem;
}

.header-li{
  list-style: none;
  display: flex;
  align-items: center;
}

.header-link{
  text-decoration: none;
  text-transform: capitalize;
  color: rgb(26, 25, 25);
}



.description{
  font-family: "Inter", sans-serif;
  color: rgb(59, 57, 57);
  // font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1rem;
  overflow-wrap: break-word; 
  text-rendering: optimizeLegibility;
}



h5 {
  font-size: 1.4rem;
  color: rgb(90, 89, 88);
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-weight: 400;
  font-size: 30px;
}

h3{
  font-size: 23px;
}

.post-overview {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-top: 1rem;
  border-radius: 5px;
  border: 1px solid rgb(218, 218, 218);
}

.post-desc {
  padding: 0.5rem;
}

.social-links ul {
  margin: 0;
  padding: 0px;
}

.social-links ul li {
  list-style: none;
  border: 2px solid rgb(75, 74, 77);
  display: inline-block;
  padding: 2px 8px;
  border-radius: 0.8rem;
}

.social-links:hover ul li {
  cursor: pointer;
}

.social-links ul li:not(:first-child) {
  margin-left: 0.5rem;
}

.social-links ul li a {
  text-decoration: none;
  font-size: 15px;
  color: rgb(75, 73, 73);
  font-family: "Roboto", sans-serif;
}


mat-icon{
  font-size: 18px;
}

.btn {
  border: none;
  padding: 0.8rem 1.2rem;
  color: white;
  margin-top: 0.5rem;
  border-radius: 0.8rem;

  &:hover{
    cursor: pointer;
  }
}

.btn-default {
  background-color: rgb(15, 12, 12);
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

@media screen and (max-width: 500px) {
  .logo-container,
  .header {
    padding: 0.3rem;
  }

  .main-overview {
    padding: 0.3rem;

    h2{
      font-size: 1.4rem;
    }
  }

  .header-link{
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  p,
  li {
    color: rgb(59, 57, 57);
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
  }

  .social-links ul li {
    margin: 4px;
  }

  .post-overview {
    padding: 1rem;
  }
}
