mat-icon {
  font-size: 15px;
}

mat-card-subtitle {
  display: flex;
  align-items: center;
}

.qualification-li {
  line-height: 1.7;
  font-size: 15px;
}

.card h6,
p {
  font-size: 16px;
}


.card-content {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid rgb(204, 203, 202);
  border-radius: 4px;
}

.card-content button {
  margin: 10px;
}
