<!-- <mat-card *ngFor="let job of jobs" class="card">
    <div class="card-content">
        <mat-card-title>
            <mat-icon> business </mat-icon> {{ job.company }}
        </mat-card-title>
        <mat-card-subtitle>
            <mat-icon> location_on </mat-icon> {{ job.locationAllowed }} 
            <mat-icon> alarm_on </mat-icon> {{ job.jobStatus }}
            <mat-icon> location_on </mat-icon> {{ job.salaryInterval }}
        </mat-card-subtitle>
        <mat-card-subtitle>
            
        </mat-card-subtitle>
        <mat-divider [inset]="true"></mat-divider>
        <mat-card-content>
            <h6>Minimum qualifications:</h6>
            <ng-container *ngFor="let item of job.minimumQualification">
                <p>{{ item }}</p>
            </ng-container>
        </mat-card-content>
        <br />
        <mat-card-content>
            <h6>Minimum qualifications:</h6>
            <ul>
                <li *ngFor="let item of job.jobDescription">
                    <p>{{ item }}</p>
                </li>
            </ul>
        </mat-card-content>
        <mat-divider [inset]="true"></mat-divider>
        <mat-card-actions>
            <button mat-flat-button color="primary">Apply</button>
        </mat-card-actions>
    </div>
</mat-card> -->