.main-content-listings {
  border: 1px solid rgb(63, 62, 62);
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 9px;
}

.main-content-listings:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: rgb(185, 179, 179);
}


.btn {
  padding: 5px 20px;
  border: none;
  color: white;
  border-radius: 4px;
  outline: none;
}


.btn:hover {
  cursor: pointer;
}


.btn-dark {
  background: rgb(92, 87, 87);
}
