<section *ngFor="let job of jobs">
  <div class="card-content">
    <div class="card-header">
      <mat-card-title>
        <mat-icon> business </mat-icon> {{ job.company }}
      </mat-card-title>
      <mat-card-subtitle>
        <mat-icon> location_on </mat-icon> {{ job.locationAllowed }}
        <mat-icon> alarm_on </mat-icon> {{ job.jobStatus }}
        <mat-icon> location_on </mat-icon> {{ job.salaryInterval }}
      </mat-card-subtitle>
    </div>
    <mat-divider></mat-divider>
    <mat-card-content>
      <h3>Qualifications:</h3>
      <ng-container class="card-content">
        <ul class="card-ul">
          <li
            class="card-li"
            *ngFor="let item of job.minimumQualification"
          >
            {{ item }}
          </li>
        </ul>
      </ng-container>
    </mat-card-content>
    <mat-card-actions>
      <!-- <button mat-flat-button color="primary">View</button> -->
      <button class="btn btn-dark">View</button>
    </mat-card-actions>
  </div>
</section>
