<app-header-ad></app-header-ad>
<div class="container">
  <section class="header-cta">
    <h3>Roadmap</h3>
    <p>
      We're excited to grow with you . Here are a few <br />
      of the features we're hard at work on
    </p>
  </section>

  <section class="main-section">
    <div class="main-body">
      <div class="card">
        <div class="card-body">
          <mat-icon> border_color</mat-icon>
          <h3 class="card-title">Custom Hiring Flows</h3>
          <p class="card-descri">
            Edit Candidate group to build out your own progres
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <!-- <mat-icon> border_color</mat-icon> -->
          <mat-icon>unarchive</mat-icon>
          <h3 class="card-title">Anal</h3>
          <p class="card-descri">
            Edit Candidate group to build out your own progres
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <!-- <mat-icon>widgets</mat-icon> -->
          <mat-icon>dashboard</mat-icon>
          <h3 class="card-title">Custom Hiring Flows</h3>
          <p class="card-descri">
            Edit Candidate group to build out your own progres
          </p>
        </div>
      </div>
    </div>
    <br />
    <div class="main-body">
      <div class="card">
        <div class="card-body">
          <!-- <mat-icon> border_color</mat-icon> -->
          <mat-icon>folder</mat-icon>
          <h3 class="card-title">Custom Hiring Flows</h3>
          <p class="card-descri">
            Edit Candidate group to build out your own progres
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <!-- <mat-icon> border_color</mat-icon> -->
          <mat-icon>unarchive</mat-icon>
          <h3 class="card-title">Custom Hiring Flows</h3>
          <p class="card-descri">
            Edit Candidate group to build out your own progres
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <mat-icon>widgets</mat-icon>
          <h3 class="card-title">Custom Hiring Flows</h3>
          <p class="card-descri">
            Edit Candidate group to build out your own progres
          </p>
        </div>
      </div>
    </div>

    <div class="cta">
      <p> Have a feature request? </p>
      <button class="btn btn-dark"> Let us know </button>
    </div>
  </section>
</div>

<!-- <app-brand-footer></app-brand-footer> -->
