<app-header-ad></app-header-ad>
<div class="container">
  <section class="header-cta">
    <h3> Pricing </h3>
    <!-- <p>
      We're excited to grow with you . Here are a few <br />
      of the features we're hard at work on
    </p> -->
  </section>

  <section class="main-section">
    <div class="main-body">
      <div class="card">
        <div class="card-body">
          <!-- <mat-icon> border_color</mat-icon> -->
          <h3 class="card-title">Standard</h3>
          <p class="card-description">
            Get a professional work experience. Designed for most businesses
          </p>

          <div class="price-tag">
            <h3> &#162; 30  <span> / month. </span> </h3>
          </div>

          <ul class="features">
            <li class="pages__Plan">
              Store up to 500 contacts
            </li>
            <li class="pages__Plan">Keep work notes</li>
            <li class="pages__Plan">
              Group and categorise contacts
            </li>
            <li class="pages__Plan">
              Send instant SMS campaigns
            </li>
            <li class="pages__Plan">
              Schedule SMS campaigns
            </li>
            <li class="pages__Plan">
              VIP customer support
            </li>
            <li class="pages__Plan">
              Access to our private community
            </li>
            <li class="pages__Plan">
              Your feature request will be prioritized.
            </li>
          </ul>

          <div>
            <button class="btn  btn-blue"> Get Started </button>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <!-- <mat-icon> border_color</mat-icon> -->
          <h3 class="card-title">Starter</h3>
          <p class="card-description">
            Try and get a gist of how awesome it is. Terms and conditions apply
          </p>

          <div class="price-tag">
            <h3> &cent; 0<span> /month. </span> </h3>
          </div>

          <ul class="features">
            <li class="pages__Plan">
              Store up to 500 contacts
            </li>
            <li class="pages__Plan">Keep work notes</li>
            <li class="pages__Plan">
              Group and categorise contacts
            </li>
            <li class="pages__Plan">
              Send instant SMS campaigns
            </li>
            <li class="pages__Plan">
              Schedule SMS campaigns
            </li>
            <li class="pages__Plan">
              VIP customer support
            </li>
            <li class="pages__Plan">
              Access to our private community
            </li>
            <li class="pages__Plan">
              Your feature request will be prioritized.
            </li>
          </ul>

          <div>
            <button class="btn"> Get Started </button>
          </div>
        </div>
      </div>
    </div>
    <br />

    <div class="cta">
      <p>Have a feature request?</p>
      <button class="btn btn-dark">Let us know</button>
    </div>
  </section>
</div>

<!-- <app-brand-footer></app-brand-footer> -->
