<section class="container">
  <h3 class="heading-main">Create new application</h3>
  <div class="main-left">
    <form [formGroup]="postJobForm" class="form">
      <div class="form-group">
        <label for=""> Job Title / Postion </label>
        <input
          class="form-input"
          formControlName="position"
          type="text"
          name="position"
          placeholder="eg. senior software engineer"
          [ngClass]="{
            'is-invalid': submitted && getControls.position.errors
          }
          
          "
        />
        <div
          *ngIf="submitted && getControls.position.errors"
          class="invalid-feedback"
        >
          <div *ngIf="getControls.position.errors.required">
            Example: "Principal Software Engineer”. Titles must describe one
            position.
          </div>
        </div>
      </div>



      <div class="form-group">
        <label for=""> Job Title </label>
        <input
          class="form-input"
          formControlName="title"
          type="text"
          name="title"
          placeholder="eg. senior software engineer"
          [ngClass]="{
            'is-invalid': submitted && getControls.title.errors
          }
          
          "
        />
        <div
          *ngIf="submitted && getControls.title.errors"
          class="invalid-feedback"
        >
          <div *ngIf="getControls.title.errors.required">
            Example: "Principal Software Engineer”. Titles must describe one
            position.
          </div>
        </div>
      </div>

      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Locations Allowed</mat-label>
          <mat-select formControlName="locationAllowed">
            <mat-option
              *ngFor="let location of locationAllowed"
              [value]="location"
            >
              {{ location }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- <label for="">Select Category </label> -->
      <mat-form-field appearance="outline">
        <mat-label> Select Category </mat-label>
        <mat-select formControlName="jobCategory">
          <mat-option
            *ngFor="let category of categoriesList"
            [value]="category"
          >
            {{ category }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="form-group">
        <label for="">Tags job could be searched with</label>
        <mat-form-field appearance="outline">
          <mat-label> Serch tags </mat-label>
          <mat-select formControlName="jobSearchTags" multiple>
            <mat-option *ngFor="let topping of categoriesList" [value]="topping">{{topping}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div
          *ngIf="submitted && getControls.jobSearchTags.errors"
          class="invalid-feedback"
        >
          <div *ngIf="getControls.jobSearchTags.errors.required">
            Example: "Software engineer, node, javascript "
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="">  Job Type </label>
        <input
          class="form-input"
          name="jobType"
          formControlName="jobType"
          type="url"
          placeholder=""
        />
      </div>


      <div class="form-group">
        <mat-card-header>
          <p>Job Description</p>
        </mat-card-header>

        <mat-card-content>
      
          <!-- <editor formControlName="jobDescription"  apiKey="96v08iycybbz8rffjogkkarvz1pkcf7s6skp266n2taioplo" name="description"
          #editor [init]="{
            height: 300,
            width: '100%',
            menubar: false,
            preformatted : true,
            convert_fonts_to_spans : true,
            element_format : 'html',
            entity_encoding : 'raw',
            invalid_elements : 'strong,em',
            extended_valid_elements : 'img[class|src|border=0|alt|title|hspace|vspace|width|height|align|onmouseover|onmouseout|name]',
            block_formats: 'Paragraph=p;Header 1=h1;Header 2=h2;Header 3=h3',
            powerpaste_clean_filtered_inline_elements: 'strong, em, b, i, u, strike, sup, sub, font',
            plugins: [
              'advlist autolink lists link image charmap print preview anchor',
              'searchreplace visualblocks code fullscreen',
              'insertdatetime media table paste code help wordcount'
            ],
            toolbar: 'paste | undo redo   | bold | fontsizeselect | alignleft aligncenter alignright alignjustify | outdent indent'
          }"></editor> -->
          <editor formControlName="jobDescription"  apiKey="96v08iycybbz8rffjogkkarvz1pkcf7s6skp266n2taioplo" name="description"
          #editor [init]="{
            height: 300,
            width: '100%',
            menubar: false,
            preformatted : true,
            element_format : 'html',
            entity_encoding : 'raw',
            invalid_elements : 'strong,em,font-size',
            extended_valid_elements : 'img[class|src|border=0|alt|title|hspace|vspace|width|height|align|onmouseover|onmouseout|name]',
            powerpaste_clean_filtered_inline_elements: 'strong, em, b, i, u, strike, sup, sub, font',
            plugins: [
              'advlist autolink lists link image charmap print preview anchor',
              'searchreplace visualblocks code fullscreen',
              'insertdatetime media table paste code help wordcount'
            ],
            toolbar: 'paste | undo redo   | bold | fontsizeselect | alignleft aligncenter alignright alignjustify | outdent indent'
          }"></editor>


          {{ postJobForm.get('jobDescription').value  }}
        </mat-card-content>
        <div
          *ngIf="submitted && getControls.jobDescription.errors"
          class="invalid-feedback"
        >
          <div *ngIf="getControls.jobDescription.errors.required">
            Please add job description
          </div>
        </div>
      </div>

      <p>Tell us More about your Company</p>
      <div class="form-group">
        <label for="">Company Name</label>
        <input
          class="form-input"
          name="companyName"
          formControlName="companyName"
          type="text"
          placeholder="eg. company inc"
          [ngClass]="{
            'is-invalid': submitted && getControls.companyName.errors
          }"
        />
        <div
          *ngIf="submitted && getControls.jobDescription.errors"
          class="invalid-feedback"
        >
          <div *ngIf="getControls.jobDescription.errors.required">
            Please add a company
          </div>
        </div>
      </div>



      <div class="form-group">
        <label for=""> Currency </label>
        <input
          class="form-input"
          name="currency"
          formControlName="currency"
          type="url"
          placeholder=""
        />
      </div>

      <div class="form-group">
        <label for=""> Application URL </label>
        <input
          class="form-input"
          name="companyUrl"
          formControlName="applicationURL"
          placeholder=""
        />
      </div>


  
      <!-- <div class="form-group">
        <label for="">Company Website</label>
        <input
          class="form-input"
          name="companyUrl"
          formControlName="companyUrl"
          type="url"
          placeholder="https://www.companywebsite.com"
        />
      </div> -->

      <!-- <div class="form-group">
        <label for="">Company Size</label>
        <input
          class="form-input"
          name="companySize"
          formControlName="companySize"
          type="email"
          placeholder="0-10"
        />
      </div> -->

      <!-- <div class="form-group">
        <label for="">Upload logo</label> <br />
        <input
          type="file"
          name="companyLogo"
          formControlName="companyLogo"
          id=""
        />
      </div> -->

      <!-- <div class="form-group">
        <label for="">Company Twitter</label>
        <input
          class="form-input"
          name="companyTwitter"
          formControlName="companyTwitter"
          type="url"
          placeholder="https://www.companywebsite.com"
        />
      </div> -->

      <!-- <div class="form-group">
        <label for="">Company LinkedIn</label>
        <input
          class="form-input"
          name="companyLinkedin"
          formControlName="companyLinkedin"
          type="url"
          placeholder="https://www.companylinkedin.com"
        />
      </div> -->

      <!-- <div class="form-group">
        <label for="">Company Email</label>
        <input
          class="form-input"
          name="companyEmail"
          formControlName="companyEmail"
          type="email"
          placeholder="companyemail@gmail.com"
        />
      </div> -->

      <div class="">
        <button class="btn btn-default" (click)="submit()">Post job</button>
      </div>
    </form>
  </div>
</section>

