.container {
  width: 71.25rem;
  margin: 0 auto;
  box-sizing: border-box;
}

.heading-main{
  margin: 2rem 0;
  font-family: inherit;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: 400;
 
}

.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 1rem 0 0.5rem 0;
  box-sizing: border-box;
  overflow: hidden;
  // border: 1px solid black;
}

.form-group {
  margin: 1.2rem 0;
}

label {
  text-transform: capitalize;
}

.form-input,
.form-select {
  padding: 0.6rem;
  border-radius: 0.4rem;
  outline: none;
  font-size: 14px;
  border: 1px solid rgb(209, 208, 207);
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
}

.form-select option {
  font-size: 26px;
  margin-top: 13px;
}

.form-input:focus {
  border-color: #01070e;
  box-shadow: 0 0 0 0.2rem rgba(2, 8, 15, 0.25);
}

.form-select option {
  font-size: 0.8rem;
}

.text-small {
  font-size: 0.8rem;
}

textarea {
  outline: none;
  border-radius: 0.2rem;
}

mat-form-field {
  width: 100%;
}

.main-right {
  width: 50%;
  
}

.invalid-feedback{
  color: red;
}


.btn {
  border: none;
  padding: 0.8rem 1.2rem;
  color: white;
  margin-top: 0.5rem;
  border-radius: 0.8rem;
}

.btn-default {
  background-color: rgb(15, 12, 12);
}

@media screen and (max-width: 500px) {
  .container {
    padding-left: 0.3rem;
    max-width: 25rem;
  }

  .form {
    width: 100%;
    // overflow: hidden;
  }

  .form-input {
    width: 100%;
  }

  .form-group {
    width: 100%;
  }
}



.big-text {
  font-size: 48px;
}

.normal-text {
  font-size: 16px;
}

.small-text {
  font-size: 10px;
}

.big-text, .normal-text, .small-text {
  margin-bottom: 50px;
}

.containing-element {
  background: #fdd;
}

.inline-block-element {
  background: #ddf;
  border: 1px solid #aaf;
  border-right: 1px solid #2f2;
  height: 4em;
  width: 4em;
}


/**** here's the magic ****/
.containing-element {
  font-size: 5%;
}

.inline-block-element {
  display: inline-block;
  *display: inline; zoom: 1; /* for IE */

  font-size: 2000%;
  margin-left: -1px;
  *margin-left: 0; /* for IE */
}