<section class="container">
  <div class="main-left">
    <form action="" class="form">
      <div class="form-group">
        <label for=""> Job Title </label>
        <input class="form-input" type="text" placeholder="" />
        <span>
          Example: “Senior Designer”. Titles must describe one position.
        </span>
      </div>

      <div class="form-group">
        <label for=""> Category </label>

        <select>
          <option value="">Cegory</option>
        </select>
      </div>

      <div class="form-group">
        <label for=""> Application Link or Email </label>
        <input class="form-input" type="text" placeholder="" />
      </div>

      <div class="form-group">
        <label for=""> Job Description </label>
        <!-- <input  class="form-input" type="text" placeholder="" /> -->
        <textarea name="" id="" cols="72" rows="10"></textarea>
      </div>

      <p>Tell us More about your Company</p>
      <div class="form-group">
        <label for=""> Company Name </label>
        <input class="form-input" type="text" placeholder="" />
      </div>

      <div class="form-group">
        <label for=""> Company Location </label>
        <input class="form-input" type="text" placeholder="" />
      </div>

      <div class="form-group">
        <label for=""> Company Statement </label>
        <input class="form-input" type="text" placeholder="" />
      </div>

      <div class="form-group">
        <label for=""> Upload logo </label>
        <input type="file" name="" id="" />
      </div>

      <div class="form-group">
        <label for=""> Company's Website URL </label>
        <input class="form-input" type="text" placeholder="" />
      </div>

      <div class="form-group">
        <label for=""> Email </label>
        <input class="form-input" type="text" placeholder="" />
      </div>

      <div class="form-group">
        <label for=""> Company Description </label>
        <!-- <input  class="form-input" type="text" placeholder="" /> -->
        <textarea name="" id="" cols="72" rows="10"></textarea>
      </div>
    </form>
  </div>
  <!-- <div class="main-right"></div> -->
</section>
