.container {
  width: 71.25rem;
  margin: 0 auto;
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 1rem;
}

.form-group {
  margin: 1.2rem 0;
}

.form-input,
.form-select {
  padding: 0.5rem;
  border-radius: 0.4rem;
  outline: none;
  font-size: 13px;
  border: 1px solid rgb(226, 224, 221);
  width: 100%;
}

.form-select option {
  font-size: .8rem;
}


.text-small{
  font-size: .8rem;
}

textarea {
  outline: none;
  border-radius: 0.2rem;
}

.main-right {
  width: 50%;
}

.btn {
  border: none;
  padding: 0.8rem 1.2rem;
  color: white;
  margin-top: 0.5rem;
  border-radius: 0.8rem;
}

.btn-default {
  background-color: rgb(15, 12, 12);
}

@media screen and (max-width: 500px) {
  .container {
    padding: 1rem;
    max-width: 20rem;
  }

  .form {
    width: 100%;
    overflow: hidden;
  }

  .form-input {
    width: 100%;
  }

  .form-group {
    width: 100%;
  }
}
