<section class="container">
  <div class="main-left">
    <form [formGroup]="postJobForm" class="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="">Job Title</label>
        <input
          class="form-input"
          formControlName="position"
          type="text"
          name="position"
          placeholder="eg. senior software engineer"
        />
        <span class="text-small">
          Example: "Principal Software Engineer”. Titles must describe one
          position.
        </span>
      </div>

      <div class="form-group">
        <label for="">Locations Allowed</label>
        <br />
        <br />
        <select
          name="locationAllowed"
          formControlName="locationAllowed"
          id=""
          class="form-select"
        >
          <option value="">Select location</option>
          <option value="remote">Remote</option>
          <option value="usa">USA</option>
          <option value="ghana">Ghana</option>
          <option value="canada">Canada</option>
          <option value="other">Other</option>
        </select>
      </div>

      <div class="form-group">
        <label for="">Category</label>
        <select
          name="jobCategory"
          formControlName="jobCategory"
          id=""
          class="form-select"
        >
          <option value="">Select Category</option>
          <option value="Web Development">Web Development</option>
          <option value="design">Design</option>
          <option value="product">Product</option>
          <option value="customer">Customer Service</option>
          <option value="data">Data</option>
          <option value="sales">Sales</option>
          <option value="devOps">DevOps/SysAdmin</option>
          <option value="business">Business</option>
          <option value="finance">finance</option>
          <option value="legail">Legal</option>
          <option value="human-resources">Human Resources</option>
          <option value="medical">Medical</option>
          <option value="teaching">Teaching</option>
          <option value="other">Other</option>
        </select>
      </div>

      <div class="form-group">
        <label for="">Tags job could be searched with</label>
        <input
          class="form-input"
          formControlName="jobTags"
          type="email"
          name="jobTags"
          placeholder="eg. nodejs"
        />
        <div></div>
      </div>

      <div class="form-group">
        <mat-card-header>
          <p>Job Description</p>
        </mat-card-header>

        <mat-card-content>
          <editor
            apiKey="96v08iycybbz8rffjogkkarvz1pkcf7s6skp266n2taioplo"
            [init]="{
              height: 200,
              menubar: false,
              plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount'
              ],
              toolbar:
                'undo redo | formatselect | bold italic backcolor | \
            alignleft aligncenter alignright alignjustify | \
            bullist numlist outdent indent | removeformat | help'
            }"
            formControlName="jobDescription"
            name="jobDescription"
          ></editor>
        </mat-card-content>
      </div>

      <p>Tell us More about your Company</p>
      <div class="form-group">
        <label for="">Company Name</label>
        <input
          class="form-input"
          name="companyName"
          formControlName="companyName"
          type="text"
          placeholder="eg. company inc"
        />
      </div>

      <div class="form-group">
        <label for="">Company Website</label>
        <input
          class="form-input"
          name="companyUrl"
          formControlName="companyUrl"
          type="url"
          placeholder="https://www.companywebsite.com"
        />
      </div>

      <div class="form-group">
        <mat-card-header>
          <p>Company Description</p>
        </mat-card-header>

        <mat-card-content>
          <editor
            apiKey="96v08iycybbz8rffjogkkarvz1pkcf7s6skp266n2taioplo"
            [init]="{
              height: 200,
              menubar: false,
              plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount'
              ],
              toolbar:
                'undo redo | formatselect | bold italic backcolor | \
            alignleft aligncenter alignright alignjustify | \
            bullist numlist outdent indent | removeformat | help'
            }"
            formControlName="companyDescription"
          ></editor>
        </mat-card-content>
      </div>

      <div class="form-group">
        <label for="">Company Size</label>
        <input
          class="form-input"
          name="companySize"
          formControlName="companySize"
          type="email"
          placeholder="0-10"
        />
      </div>

      <div class="form-group">
        <label for="">Upload logo</label> <br />
        <input
          type="file"
          name="companyLogo"
          formControlName="companyLogo"
          id=""
        />
      </div>

      <div class="form-group">
        <label for="">Company Twitter</label>
        <input
          class="form-input"
          name="companyTwitter"
          formControlName="companyTwitter"
          type="url"
          placeholder="https://www.companywebsite.com"
        />
      </div>

      <div class="form-group">
        <label for="">Company LinkedIn</label>
        <input
          class="form-input"
          name="companyLinkedin"
          formControlName="companyLinkedin"
          type="url"
          placeholder="https://www.companylinkedin.com"
        />
      </div>

      <div class="form-group">
        <label for="">Company Email</label>
        <input
          class="form-input"
          name="companyEmail"
          formControlName="companyEmail"
          type="email"
          placeholder="companyemail@gmail.com"
        />
        <!-- <p class="error-message" *ngIf="!companyEmail.invalid"></p> -->
      </div>

      <div class="">
        <button [disabled]="postJobForm.invalid" class="btn btn-default">
          Post job
        </button>
      </div>
    </form>
  </div>
</section>

<div>Form Content : {{ postJobForm.value | json }}</div>
<div>Form is valid : {{ postJobForm.valid | json }}</div>
<!-- <div>Error around name : {{ postJobForm.controls.name.errors | json }}</div>  -->
