.section-container {
  max-width: 90em;
  height: 55em;
  background-color: rgb(241, 238, 238);
}


.main-content {
  border: 1px solid black;
}


.form {
  display: flex;
  flex-direction: column;
}


.main-left {
  // width: 50%;
  // width: 100%;
}

.main-right {
  width: 50%;
}
