<mat-drawer-container class="dashboard-container" autosize>
  <mat-drawer #drawer class="dashboard-sidenav" mode="side" opened>
    <div class="sidebar-wrapper">
      <div class="logo">
        <img
          src="./assets/images/job-logo-dark.svg"
          class="logo-image"
          alt="user profile"
        />
      </div>

      <div
        class="link-container"
        *ngFor="let link of links"
        routerLinkActive="div-active"
      >
        <a
          mat-button
          class="nav-link"
          [routerLink]="link.path"
          routerLinkActive="active"
        >
          <mat-icon class="mat-18 icon">{{ link.icon }}</mat-icon>
          {{ link.title }}
        </a>
      </div>
    </div>
  </mat-drawer>

  <div class="dashboard-sidenav-content">
    <div class="">
      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon
          aria-hidden="false"
          class="menu-icon"
          aria-label="Example home icon"
          >menu</mat-icon
        >
      </button>
    </div>

    <div class="image-container">
      <img [src]="userProfile" class="user-image" alt="profile image" />
      <button mat-button [matMenuTriggerFor]="menu" class="user-title">
        {{ username }} <mat-icon>keyboard_arrow_down </mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
          Logout <mat-icon> power_settings_new </mat-icon>
        </button>
        <button mat-menu-item>Enroll <mat-icon>add</mat-icon></button>
      </mat-menu>
    </div>
  </div>

  <div class="main-body">
    <div class="container">
      <router-outlet> </router-outlet>
    </div>
  </div>
</mat-drawer-container>
