.mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 60px;
  // background-color: #f5f5f5;
  background-color: rgb(248, 248, 248);
}


.mat-toolbar-content{
  display: flex;
  justify-content: space-between;
  width: inherit;
 
}

.mat-toolbar-nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-container {
  font-family: "Inter", sans-serif;
  background-color: rgb(243, 243, 243);
  height: 100vh;
  overflow: hidden;
}

.dashboard-sidenav {
  width: 300px;
  box-shadow: 4px;
  font-family: "Inter", sans-serif;
  border: none;
  height: 100vh;
  position: fixed;
  padding-top: 4rem;
  // background-color: rgb(248, 248, 248);
}

.logo-image {
  height: 20px;
  background-size: cover;
}

.menu-title {
  text-transform: uppercase;
  margin-left: 1.5rem;
}

.nav-link {
  height: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
 
}

.main-body {
  margin-top: 6rem;
}

.image-container {
  border-radius: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  color: black;
}

.mat-toolbar-nav-right {
  // background-color: black;
  padding: .8rem 1.3rem;
  color : black;
}

.user-image {
  border-radius: 600px;
  height: 2rem;
  width: 1.8rem;
}


