.mat-toolbar{
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.mat-toolbar-nav-left{
  display: flex;
  justify-content: space-between;
  align-items: center;
  // border: 1px solid black;
  // width: 14.5rem;
}

.dashboard-container {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  // background-color: black;
}


.dashboard-sidenav {
  width: 250px;
  box-shadow: 4px;
  font-family: "Inter", sans-serif;
  // background: bisque;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  // box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  border: none;
}

// .logo {
//   display: flex;
//   align-items: flex-start;
//   padding: 1rem 1.5rem;
//   background-color: rgb(243, 240, 237);
// }

.logo-image {
  height: 20px;
  background-size: cover;
}

.menu-title {
  text-transform: uppercase;
  margin-left: 1.5rem;
}

.nav-link {
  height: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
}

.dashboard-sidenav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  // background-color: rgb(233, 233, 233);
  // background: black;

  &:visited,
  &:focus,
  &:active{
    // background-color: rgb(233, 233, 233);
    background: none;
  }
}

.mat-drawer-content {
  background-color: whitesmoke;
}

.main-body {
  width: 100%;
}

.image-container {
  border-radius: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.user-image {
  border-radius: 600px;
  height: 2rem;
  width: 1.8rem;
}

.main-left {
  background-color: rgb(232, 243, 243);
  color: black;
}

.main-right {
  background-color: rgb(235, 235, 235);
  color: black;
}

.user-title {
  font-weight: normal;
}

.mat-grid-tile {
  background: lightblue;
}
