<div class="signup-container">
  <app-logo></app-logo>
  <form class="form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <h3>Reset Password</h3>

    <div class="form-group">
      <label for=""> Registered Email </label>
      <input class="form-input" name="email"  formControlName="email"  type="email" required placeholder="Email" />
    </div>

    <div class="form-group terms">
      <input type="checkbox" />
      <p>I agree with <a href=""> Term </a> and <a href=""> Privacy </a></p>
    </div>

    <button class="btn btn-dark">Login</button>

    <hr class="border-line" />
    <div class="btn-cta">
      <span>Already have an account </span>
      <a routerLink="/login"> Login </a>
    </div>
  </form>
</div>

<ng-template #loginProgress>
  <div class="loginProgress">
    <mat-spinner strokeWidth="3" [diameter]="30"></mat-spinner>
  </div>
</ng-template>
