<!-- <app-navigation></app-navigation> -->
<div class="reset-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Password Recovery
            </mat-card-title>
        </mat-card-header>

        <form class="form" #form="ngForm">

            <mat-form-field appearance="outline">
                <mat-label> Email Addres </mat-label>
                <input matInput placeholder="Email">
            </mat-form-field>

            <button mat-flat-button color="primary"> Submit </button>
        </form>

        <section style="padding: 5px 0;">
            <a class="forgot-pass" routerLink="reset" style="text-decoration: none;">Forgot Password?</a>
        </section>

        <p class="signUpHere" style="color: rgb(7, 7, 12);"> Forgot Password ? <span class="link"
                routerLink="/auth/login">Log in Here</span>
        </p>
    </mat-card>
</div>




<ng-template #google>
    <p> Google </p>
</ng-template>


<ng-template #success>
</ng-template>

<ng-template #error>
</ng-template>

<ng-template #invalidEmail>
</ng-template>

<ng-template #invalidPassword>
</ng-template>

<ng-template #incorrectPasswor>
</ng-template>


<ng-template #loginProgress>
    <div class="loginProgress">
        <mat-spinner strokeWidth="3" [diameter]="30"></mat-spinner>
    </div>
</ng-template>