<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-list>
      <mat-list-item class="mat-list-item"> Courses </mat-list-item>
      <mat-list-item class="mat-list-item"> Program </mat-list-item>
      <mat-list-item class="mat-list-item"> Instructors </mat-list-item>
    </mat-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <div class="">
      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon aria-hidden="false" class="menu-icon" aria-label="Example home icon">menu</mat-icon>
      </button>
    </div>
    <div class="image-container">
      <img [src]="userProfile" class="user-image" alt="user profile">
    </div>
  </div>

  <div class="main-body">
    <div class="main-left">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae consequatur a mollitia voluptatibus maxime
      corrupti, nemo sed enim sint placeat earum nulla animi, minus nam ipsa eum fuga sapiente, inventore in voluptas
      act optio voluptatum, consequuntur repellendus, ad cupiditate molestias
      delectus adipisci labore, aperiam quod nulla laborum voluptate deserunt aliquid? Ullam dignissimos eius cum facere
      amet libero facilis totam dolores quasi odio exercitationem, quidem optio iste. Dolor quod vel, iure et laboriosam
      dignissimos amet veniam rerum numquam blanditiis adipisci animi minus nisi pariatur dolore suscipit fugiat a.
      Libero officia et qui minus optio nam, laudantium similique eius, recusandae nobis, suscipit ipsa vitae! Non,
    </div>
    <div class="main-right">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates odio illum natus doloremque ab ut omnis fuga
      sed molestias eos dolor, incidunt et autem sapiente ullam eum cum magnam deleniti iusto tempora accusamus facilis
      quas. Sit laboriosam expedita quidem, totam, corporis at aperiam labore quos vel eum consequatur placeat unde
      magni, vitae sint! Aut obcaecati magnam quia provident officia velit, et sit, quasi maiores fugit id in
    </div>
  </div>

</mat-drawer-container>