.hero {
  height: 45vh;
  // background: rgb(107, 106, 104);
}

.hero-header{
  font-size: 30px;
}


.overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // border: 1px solid black;
    height: inherit;
}

