<div class="">
    <mat-toolbar>
        <span> {{ pageBrand }} </span>
    </mat-toolbar>

</div>



<div class="hero">
    <div class="overlay">
        <div class="hero-body">
            <h3> Find your </h3>
        </div>

        <div class="hero-form">
            <div class="form">
                <form action="" class="form" method="get">
                    <input class="form-input" type="text" placeholder="Find job">
                </form>
            </div>
        </div>
    </div>
</div>


<section class="jobs">
    <div class="jobs-listings" style="border: 1px solid black; padding-top: 4rem;">
        <h2 class="listing-title"> Job Listings </h2>
    </div>

    
    <div class="listings-card">
        <div class="listings-card-head"> Hello </div>
        <div class="listings-card-body"> Ieo </div>
        <div class="listings-card-image"> Open </div>
        <div class="listings-card-title"> Testing </div>
        <div class="listings-card-subtitle"> Connect </div>
    </div>

</section>



<!-- <p> {{ pageTitle }} </p> -->