.main-body {
  display: flex;
}

.right-section {
  flex-grow: 2;
  margin-left: 26.7rem;
  padding: 2.5rem;
}

.left-section {
  position: fixed;
}


@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  .right-section{
 // width: ;
  }

  .left-section{
    display: none;
    margin-left: 0;
  }

  .main-body {
    flex-direction: column;
  }

  .left-section {}
}
