.container {
  width: 71.25rem;
  margin: 0 auto;
}


.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: .9rem;
//   padding: 1rem;
}


.form-group {
   margin-bottom: .6rem;
}


.form-input {
  padding: .5rem;
  border-radius: .4rem;
  outline: none;
  font-size: 13px;
  border: 1px solid rgb(226, 224, 221);
  width: 100%;
}


.form-input:focus{
    // outline: ;
    border: 1px solid rgb(145, 142, 142);
}

.main-right {
  width: 50%;
}


.btn {
  border: none;
  padding: .8rem 1.2rem;
  color: white;
  margin-top: .5rem;
  border-radius: .8rem;
}

.btn-default {
  background-color: rgb(15, 12, 12);
}


@media screen and (max-width: 500px) {
  .container {
    padding: 1rem;
    max-width: 20rem;
    // overflow: hidden;
  }

  .form {
    width: 100%;
    overflow: hidden;
  }


  .form-input {
    width: 100%;
  }

  .form-group {
    width: 100%;

  }
}
