<section class="container">
  <h3>Account Setting</h3>
  <div class="form">
    <div class="form-group">
      <label for=""> Email </label>
      <input class="form-input" type="text" placeholder="" />
    </div>

    <div class="form-group">
      <label for=""> Old Password </label>
      <input class="form-input" type="text" placeholder="" />
    </div>

    <div class="form-group">
      <label for=""> New Password </label>
      <input class="form-input" type="text" placeholder="" />
    </div>
  </div>
</section>
