.container {
  width: 71.25rem;
  margin: 0 auto;
  box-sizing: border-box;
}

.heading-main{
  margin: 2rem 0;
  font-family: inherit;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: 400;
}

.card-main {
  text-decoration: none;
  // list-style:
  display: block;
  height: inherit;
}

.card-wrapper {
  display: flex;
  justify-content: start;
}

.card {
  border: 1px solid rgb(214, 204, 204);
  border-radius: 0.8rem;
  margin-top: 1rem;
  padding: 2rem;
  width: 20rem;
  margin-right: 1rem;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  color: white;
  font-family: inherit;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-body {
  overflow: hidden;
}

.btn {
  border: none;
  padding: 0.8rem 1.2rem;
  color: white;
  margin-top: 0.5rem;
  border-radius: 0.8rem;
}

.btn-default {
  background-color: rgb(15, 12, 12);
}

@media screen and (max-width: 500px) {
  .container {
    // padding: 1rem;
    max-width: 20rem;
  }
}
