.container {
  width: 71.25rem;
  margin: 0 auto;
}

.card {
  border: 1px solid rgb(218, 212, 212);
  border-radius: .8rem;
  margin-top: .7rem;
  padding: .4rem;
}

.card-body {
  //   border: 1px solid blue;
  overflow: hidden;
}
