<div class="container">
  <h2 class="heading-main">All job Postings</h2>
  <a href="" class="card-main">
  <div class="card-wrapper">
    
      <div class="card">
        <div class="card-body">
          <h3>Title</h3>
          <p>Posted by</p>
          <p>Hello</p>
        </div>
      </div>
    

    <div class="card">
      <div class="card-body">
        <h3>Title</h3>
        <p>Posted by</p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius modi
          sapiente quod recusandae, in fugit ullam consectetur quam. Cupiditate
          itaque maiores
        </p>
      </div>
    </div>
  
  </div>
</a>
</div>
