.container {
  width: 71.25rem;
  margin: 0 auto;
}

.card {
  border: 1px solid rgb(218, 212, 212);
  border-radius: .8rem;
  margin-top: .7rem;
  padding: .4rem;
  margin: 1rem;
}

.card-body {
  overflow: hidden;
}



.btn {
    border: none;
    padding: .8rem 1.2rem;
  
    color: white;
    margin-top: .5rem;
    border-radius: .8rem;
  }
  
  .btn-default{
    background-color: rgb(15, 12, 12);
  }
  