.search-container {
  height: 40vh;
  background: rgb(238, 238, 238);
  background: #0F2027;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  // flex-direction: column;
  height: inherit;
}

.form input {
  padding: 1rem;
  border: none;
  width: 35%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.form input:focus {
  outline: none;
}


.btn {
  outline: none;
  padding: 1rem;
  border: none;
}


.btn-dark {
  background-color: rgb(12, 11, 10);
  color: white;
}
