.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(231, 228, 228);
  background-color: rgb(248, 248, 248);
  z-index: 1000;
  width: 100%;
  padding: 1rem 2rem;
  position: fixed;
  margin-bottom: 7px;
  box-sizing: border-box;
}

.nav-brand img {
  width: 6rem;
}

.nav-items {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.nav-items a {
  text-decoration: none;
  display: inline-block;
  margin: 0 .7rem;
  color: black;
}


.signup {
  border: 1px solid black;
  padding: .5rem 1rem;
  background-color: white;
  color: black;
  border-radius: 3px;
}

.sub-nav {
  border-bottom: 1px solid rgb(231, 228, 228);
  display: flex;
}
