<div class="signup-container">
  <app-logo></app-logo>
  <form class="form" [formGroup]="signUpForm" (ngSubmit)="signUp()">
    <h3>Signup</h3>
    <div class="btn-group">
      <button class="btn btn-default">Sign up with Google</button>
    </div>

    <div class="form-group">
      <label for=""> Email </label>
      <input
        class="form-input"
        formControlName="email"
        type="text"
        name="email"
        placeholder="username@email.com"
        [ngClass]="{ 'is-invalid': submitted && formField.email.errors }"
      />
      <div *ngIf="submitted && formField.email.errors" class="invalid-feedback">
        <div *ngIf="formField.email.errors.required"> Email is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for=""> Password </label>
      <input
        class="form-input"
        formControlName="password"
        type="password"
        placeholder="password"
        [ngClass]="{ 'is-invalid': submitted && formField.password.errors }"
      />
      <div
        *ngIf="submitted && formField.password.errors"
        class="invalid-feedback"
      >
        <div *ngIf="formField.password.errors.required">
          Password is required
        </div>
        <div *ngIf="formField.password.errors.minlength">
          Password must be at least 6 characters
        </div>
      </div>
    </div>

    <div class="form-group terms">
      <input type="checkbox" />
      <p>I agree with <a href=""> Term </a> and <a href=""> Privacy </a></p>
    </div>

    <button class="btn btn-dark">Register</button>

    <hr class="border-line" />
    <div class="btn-cta">
      <span>Already have an account</span>
      <a routerLink="/login"> Log in </a>
    </div>
  </form>

  <!-- {{ signUpForm | json }} -->
</div>
