<div class="signup-container">
    <mat-card>
        <span class="back-link" routerLink="/"> &LeftArrow; Home </span>

        <div class="">
            <h2 style="text-align: center;"> Register </h2>
        </div>
        
        <form #form ngForm class="form" [formGroup]="signUpForm" (ngSubmit)="signUpSubmit()">
            <mat-form-field appearance="outline">
                <mat-label> Username </mat-label>
                <input matInput name="name" type="name" formControlName="name">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label> Email </mat-label>
                <input matInput name="email" type="email" formControlName="email">
            </mat-form-field>


            <!-- <mat-form-field appearance="outline">
                <mat-label> </mat-label>
                <input matInput hidden value="user" name="role" type="text" formControlName="role">
            </mat-form-field> -->


            <mat-form-field appearance="outline">
                <mat-label> Password </mat-label>
                <input matInput name="password" type="password" formControlName="password">
            </mat-form-field>
            <button type="submit" [disabled]="!signUpForm.valid" mat-flat-button color="primary"> Create Account
            </button>
        </form>

        <p class="signUpHere"> Already have an account ? <span class="link" routerLink="/auth/login">Log in Here</span>
        </p>
    </mat-card>
</div>


<ng-template #google>
    <p> Google </p>
</ng-template>


<ng-template #success>
</ng-template>

<ng-template #error>
</ng-template>

<ng-template #invalidEmail>
</ng-template>

<ng-template #invalidPassword>
</ng-template>

<ng-template #incorrectPasswor>
</ng-template>


<ng-template #loginProgress>
    <div class="loginProgress">
        <mat-spinner strokeWidth="3" [diameter]="30"></mat-spinner>
    </div>
</ng-template>