<div class="signup-container">
    <mat-card>
        <span class="back-link" routerLink="/"> &LeftArrow; Home </span>

        <div class="">
            <h2 style="text-align: center;"> Register </h2>
        </div>
        <!-- Template driven forms -->
        <!-- Reactive Forms -->
        <form #form ngForm (ngSubmit)="onSubmit()"  class="form">
            <mat-form-field appearance="outline">
                <mat-label> Email </mat-label>
                <input matInput id="email" name="email" type="email" formControlName="email">
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label> Password </mat-label>
                <input matInput id="password" name="password" type="password" formControlName="password">
            </mat-form-field>

            <button type="submit" [disabled]="" mat-flat-button color="primary"> Create Account
            </button>
        </form>

        <p class="signUpHere"> Already have an account ? <span class="link" routerLink="/auth/login">Log in Here</span>
        </p>
    </mat-card>
</div>


<ng-template #google>
    <p> Google </p>
</ng-template>


<ng-template #success>
</ng-template>

<ng-template #error>
</ng-template>

<ng-template #invalidEmail>
</ng-template>

<ng-template #invalidPassword>
</ng-template>

<ng-template #incorrectPasswor>
</ng-template>


<ng-template #loginProgress>
    <div class="loginProgress">
        <mat-spinner strokeWidth="3" [diameter]="30"></mat-spinner>
    </div>
</ng-template>